<h1 mat-dialog-title>Editar persona</h1>
<div mat-dialog-content>
    <form (ngSubmit)="editarPersona()">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.persona.perNombre" name="perNombre" required>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="data.persona.perApellido" name="perApellido" required>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.persona.perFechaNacimiento" name="perFechaNacimiento" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Tipo de Documento</mat-label>
        <mat-select
        [(ngModel)]="data.persona.perTipoDocumento"
        name="perTipoDocumento"
        required
      >
        <mat-option
          *ngFor="let tipoDoc of tipoDocs"
          [value]="tipoDoc.valor"
        >
          {{ tipoDoc.visual }}
        </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Número de Documento</mat-label>
        <input matInput [(ngModel)]="data.persona.perNumeroDocumento" name="perNumeroDocumento" required>
      </mat-form-field>
    
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancelar</button>
  <button mat-button type="submit" >Guardar</button>
</div>
