<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <div>
    <div class="contenedorBuscar">
      <h3 class="tituloBuscar">Buscar persona:</h3>
    </div>

    <div class="contenedorFormulario">
      <form class="busqueda-form">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Ej: Franco Miro"
            [(ngModel)]="nombreSeleccionado"
            name="Nombre"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo Documento</mat-label>
          <mat-select
            [(ngModel)]="tipoDocumentoSeleccionado"
            name="Tipo Docuemento"
          >
            <mat-option
              *ngFor="let tipoDoc of tipoDocs"
              [value]="tipoDoc.valor"
            >
              {{ tipoDoc.visual }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="buscarPersona()">
          Buscar
        </button>
      </form>
    </div>

    <div class="contenedorTabla" *ngIf="mostrarResultados()">
      <table mat-table [dataSource]="personas" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.perNombre }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let element">
            {{ element.perApellido }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Fecha de Nacimiento">
          <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
          <td mat-cell *matCellDef="let element">
            {{datePipe.transform(element.perFechaNacimiento, 'dd/MM/yyyy')}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Tipo Documento">
          <th mat-header-cell *matHeaderCellDef>Tipo Documento</th>
          <td mat-cell *matCellDef="let element">
            {{ element.perTipoDocumento }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Numero Documento">
          <th mat-header-cell *matHeaderCellDef>Numero Documento</th>
          <td mat-cell *matCellDef="let element">
            {{ element.perNumeroDocumento }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Editar">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="openFormEditPersona(element.id)"
              >create</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="Borrar">
          <th mat-header-cell *matHeaderCellDef>Borrar</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="borrarPersona(element.id)">delete</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>
    </div>
    <div class="errorBusqueda" *ngIf="errorMsg && busquedaRealizada">No se encontraron personas</div>

  </div>
</html>
